body{
    margin: 0px;
    background-image: linear-gradient(to bottom, #e4e5e6, #9370db 80%);
    font-family: sans-serif;
    overflow-x: hidden;
}


.header{
    background-color:#9385f1;
    display: flex;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 4px 8px white;
    z-index: 1;
    height: 14vh;
}

.container{
    width: 60vw;
    display: flex;
    margin: 0 auto;
}

header .container{
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 186px;
    height: 140px;
    padding-right: 450px;
    margin-left: -85px;
    margin-top: -15px;
}

.navbar{
    list-style: none;
    display: flex;

    /* margin-left: 300px; */
    align-items: center;
    padding: 0;
}

.navbar li{
    display: flex;
}

.navbar li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin-right: 3vw;
}

.navbar li :hover{
    color: yellow;
    font-size: 1.2em;
    transition: 0.6s;
}

.navbar li :active{
    color: #8B008B;
    font-size: 1.1em;
    transition: 0.2s;
}


/* .banner img{
    margin-top: 150px;
    width: 40vw;
    height: 65vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left-width: 7px ;
    border-left-style: solid;
    border-left-color: gray;
}

.conteudo_central{
    background-color: #ffffff;
    height: 58.5vh;
    width: 40vw;
    padding: 20px;
    line-height: 27px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right-width: 7px ;
    border-right-style: solid;
    border-right-color: gray;
} 


.banner{
    display: flex;
    justify-content: center;
} */

main {
/*  BARRINHAS DO FUNDO

    background-image: url(img-site/Group5.png);
    background-position: center;  
    background-repeat: no-repeat;
    background-size:99vw; */
    height: 100vh;
}

/* .polaroids {
    display: flex;
    margin-top: 0;
    padding-left: 55px;
    padding-top: 100px;
} */

/* .branco1{
    background-color: white;
    height: 10px;
    width: 100vw;
} */
#div-monica img {
    height: 60%;
    position: absolute;
    margin-left: 2.5%;
    margin-top: 10%;
}
#p_monica{
    background-color: #f0f4f5a1;
    height: 60%;
    position: absolute;
    margin-left: 23.2%;
    margin-top: 10%;
    height: 34vh;
    width: 70vw;
    padding: 30px;
}

#div-rachel img {
    height: 60%;
    margin-left: 78.5%;
    position: absolute;
    margin-top: 40%;
}
#p_rachel{
    background-color: #f0f4f5a1;
    height: 60%;
    position: absolute;
    margin-left: 3.1%;
    margin-top: 40%;
    height: 34vh;
    width: 70vw;
    padding: 30px;
}

#div-phoebe img {
    height: 60%;
    margin-left: 2.5%;
    margin-top: 70%;
    position: absolute;
}
#p_phoebe{
    background-color: #f0f4f5a1;
    height: 60%;
    position: absolute;
    margin-left: 23.3%;
    margin-top: 70%;
    height: 34vh;
    width: 70vw;
    padding: 30px;
}

/* .polaroids2 {
    display: flex;
    font-size: 0;
    padding-right: -55px;
    margin-top: -15%;
} */

#div-chandler img {
    height: 60%;
    margin-left: 78%;
    position: absolute;
    margin-top: 100%;
}
#p_chandler{
    background-color: #f0f4f5a1;
    height: 60%;
    position: absolute;
    margin-left: 2.7%;
    margin-top: 100%;
    height: 34vh;
    width: 70vw;
    padding: 30px;
}

#div-ross img {
    height: 60%;
    float: right;
    font-size: 0;
    margin-left: 2.5%;
    position: absolute;
    margin-top: 130%;
}
#p_ross{
    background-color: #f0f4f5a1;
    height: 60%;
    position: absolute;
    margin-left: 23%;
    margin-top: 130%;
    height: 34vh;
    width: 70vw;
    padding: 30px;
}

#div-joey img {
    height: 60vh;
    float: right;
    font-size: 0;
    margin-right: 1%;
    margin-top: 160%;
}
#p_joey{
    background-color: #f0f4f5a1;
    height: 60%;
    position: absolute;
    margin-left: 3%;
    margin-top: 160%;
    height: 34vh;
    width: 70vw;
    padding: 30px;
}

/* .final {
    font-family: 'Gregor Miller s Friends Font';
} */

footer{
    background-color: #363636;
    width: 100vw;
    height: 40vh;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: -90px;
}

.conteudo_footer{
    color: white;
    display: flex;
    position: relative;
}

.conteudo_footer a{
    font-style: italic;
    font-size: 0.8em;
    color: white;
    text-decoration: none;
    text-align: center;
}

.titulos_footer{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 3%;
}


.abertura{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 10vw;
}

.barra{
    width: 12vw;
    height: 0.5vh;
    background-color: #6f36d8;
    align-self: center;
    margin-bottom: 5%;
}

.logo_footer{
   position: absolute;
   margin-left: 44vw;
}

.logo_footer img{
    width: 15vw;
    height: 25vh;
    align-items: center;
    display: block;
    margin-left: -10%;
    margin-right: auto;
    margin-top: 6%;
}

.logo_footer p{
    display: flex;
    font-size: 1.2em;
    font-weight: 200;
    font-style: italic;
    margin-top: 2vh;
    margin-left: -14%;
} 

.conteudos{
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    padding-left: 40vw;
}


