@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0px;
  background-image: linear-gradient(to bottom, #e4e5e6, #9370db 80%);
  font-family: sans-serif;
  overflow-x: hidden;
}


.header{
  background-color:	#9385f1;
  display: flex;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 4px 8px white;
  z-index: 1;
}

.container{
  width: 60vw;
  display: flex;
  margin: 0 auto;
}

header .container{
  align-items: center;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.logo img{
  width: 160px;
  padding-right: 450px;
}

.navbar{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar li{
  display: flex;
}

.navbar li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  margin-right: 3vw;
}

.navbar li :hover{
  color: yellow;
  font-size: 1.2em;
  transition: 0.6s;
}

.navbar li :active{
  color: #8B008B;
  font-size: 1.1em;
  transition: 0.2s;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  background-image: url(".././img-site/milkshake-friends.jpg");
  background-size: cover;
}

.banner .container {
  margin-top: 100px;
  height: 460px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* FOOTER */

footer{
  background-color: #363636;
  width: 100vw;
  height: 40vh;
  display: flex
}

.conteudo_footer{
  color: white;
  display: flex;
  position: relative;
}

.conteudo_footer a{
  font-style: italic;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  text-align: center;
}

.titulos_footer{
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 3%;
}


.abertura{
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-left: 10vw;
}

.barra{
  width: 12vw;
  height: 0.5vh;
  background-color: #6f36d8;
  align-self: center;
  margin-bottom: 5%;
}

.logo_footer{
 position: absolute;
 margin-left: 44vw;
}

.logo_footer img{
  width: 15vw;
  height: 25vh;
  align-items: center;
  display: block;
  margin-left: -10%;
  margin-right: auto;
  margin-top: 6%;
}

.logo_footer p{
  display: flex;
  font-size: 1.2em;
  font-weight: 200;
  font-style: italic;
  margin-top: 2vh;
  margin-left: -14%;
} 

.conteudos{
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  padding-left: 40vw;
}



/* LOGIN */

.banner .container .card {
  background-color: white;
  height: fit-content;
  width: 400px;
  opacity: .8;
  display: flex;
  flex-direction: column;
  color: #9370db;
  align-items: center;
  border-radius: 15px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #8B008B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}